<!-- cv.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nigel Mashozhera - Curriculum Vitae</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
</head></head>
<body>
    <h1>Nigel Mashozhera</h1>

    <div class="contact-info">
        <h2>Contact Info</h2>
        <p>Address: 19 Wood Street, Newtown, Grahamstown, 6139</p>
        <p>Cell: 0789001395</p>
        <p>Email: <a href="mailto:nigelmashozhera1@gmail.com">nigelmashozhera1@gmail.com</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/nigelmashozhera-2b4408204/" target="_blank">LinkedIn Profile</a></p>
    </div>

    <div class="academic-history">
        <h2>Academic History</h2>
        <p><strong>Rhodes University</strong></p>
        <p>Bachelors of Commerce, Information Systems (with distinction) and Economics</p>
        <p>Bachelor of Commerce with Honours (Information Systems)</p>
        <p><strong>Graeme College Boys High School</strong></p>
        <p>Bachelor Pass | 2016</p>
    </div>

    <div class="areas-of-expertise">
        <h2>Areas of Expertise</h2>
        <p><strong>Software Experience</strong></p>
        <ul>
            <li>Visio Studio Code</li>
            <li>MYSQL Workbench 8.0 CE</li>
            <li>Visio</li>
            <li>MS Project 2016</li>
            <li>MS Excel/ Word/ Outlook/ Power Point</li>
            <li>Oracle Big Data Appliance from Cloudera</li>
            <li>MongoDB Compass</li>
            <li>Tableau</li>
            <li>Power BI</li>
        </ul>
        <p><strong>Programming Languages Experience</strong></p>
        <ul>
            <li>Python (self-taught)</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript (React and Angular)</li>
            <li>PHP</li>
            <li>MongoDB Query Language</li>
            <li>HiveQL</li>
            <li>Impala SQL</li>
            <li>MySQL</li>
            <li>SQL language</li>
        </ul>
    </div>
</body>
</html>
